* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mate SC", serif;
}
body {
  min-height: 100vh;
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
}
#board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
#turn,
#board,
#game-btns {
  margin-bottom: 15px;
  text-align: center;
}
h1 {
  font-size: 3rem;
  margin-top: 30px;
}
#turn {
  font-size: 1.8rem;
  display: hidden;
}
.btn {
  padding: 6px 15px;
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.btn:hover {
  background-color: #bcbcbc;
}

#board {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(32, 32, 32);
}
.box {
  width: 115px;
  height: 115px;
  border: 1px solid black;
  font-size: 6rem;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #cfcbcb;
  transition: 0.4s;
}
.box:hover {
  background-color: #f5eeee;
}
#stats {
  font-weight: bold;
  display: flex;
  gap: 16px;
}
#stats > span > span {
  font-weight: 100;
}
.winner-box {
  color: #00940f;
}
.disabled {
  display: none !important;
}
.show {
  display: block;
}
#landing,
#players-div,
#players {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#landing-h1 {
  font-size: 7rem;
}
#landing-p {
  font-size: 4rem;
  margin-bottom: 15px;
}
#start-btn {
  font-size: 2rem;
}
#players {
  width: fit-content;
}
#players > label {
  font-size: 4rem;
  margin-bottom: 15px;
}
#players > input {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  height: 40px;
}
